@font-face {
	font-family: Gnuolane;
	src: url("fonts/gnuolane/gnuolane rg.ttf");
}

body {
	background-color: #f4f7f8;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
}

h1, h2, h3, h4 {
	font-family: Gnuolane, sans-serif;
}

a {
	color: #37BAE6;
}

button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.428571429;
  border-radius: 1px;
  background-color: red;
}

.save-promo {
	display: flex;
	justify-content: center;
}

.save-promo button {
	padding: 6px 40px;
	color: #fff;
	background-color: #7BC219;
}

.wrapper {
	height: 100vh;
	display: flex;
	align-items: stretch;
}

.drync-grid {
	width: 100%;
	display: grid;
	grid-template-columns: [nav] 102px [content] 1fr;
	grid-template-rows: 51px auto;
	grid-template-areas:
		"header header"
		"nav main";
}

header {
	grid-area: header;
}

.header-bg {
	background-color: #fff;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #e7e7e7;
	display: grid;
	grid-template-columns: [logo] 1fr [store-select] 195px [avatar] 55px;
	grid-template-rows: 51px;
	grid-template-areas:
		"logo store-select avatar";
}

.header-bg h1 {
	margin: 0 0 0 30px;
	padding: 0;
	width: 148px;
	height: 35px;
	position: relative;
	grid-area: logo;
	align-self:center;
	display:flex;
	align-items:stretch;
}

.header-bg h1 a {
	background-image: url('../img/powered_by_logo.svg');
	background-size: 148px 35px;
	width: 148px;
	height: 35px;
}

.header-bg h1 a span {
	display: none;
}

.store-selection {
	grid-area: store-select;
	align-self:center;
}

.store-selection select {
	width:180px;
	font-size:15px;
}

.user-avatar {
	grid-area: avatar;
	display:flex;
	justify-content:center;
	align-items:center;
}

.user-avatar a {
	background-image: url("../img/user-avatar_27292B.svg");
	background-size: 35px 35px;
	width:35px;
	height:35px;
}

nav {
	background-color: #1F2022;
	grid-area: nav;
}

.nav-wrapper {
	padding-top:30px;
	display: grid;
	grid-template-columns: 102px;
	grid-template-rows: 70px 82px repeat(5, 70px);
	grid-template-areas:
		"dashboard"
		"order-management"
		"reporting"
		"marketing"
		"promotions"
		"store"
		"help";
}

.nav-wrapper div {
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: center 10px;
	text-transform: capitalize;
	display:flex;
	justify-content:center;
	align-items:stretch;
	transition: 100ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.nav-wrapper div:hover {
	background-color: #666;
}

.nav-wrapper div.active {
	background-color: #fff;
}

.nav-wrapper .active a {
	color: #27292B;
}

.nav-wrapper div a {
	padding-top:38px;
	width: 102px;
	color: #fff;
	font-size:13px;
	text-decoration: none;
	text-align: center;
}

.nav-item-00 {
	background-image: url("../img/left-nav/dashboard_FFFFFF.svg");
	grid-area: dashboard;
}

.nav-item-01 {
	background-image: url("../img/left-nav/order-management_FFFFFF.svg");
	grid-area: order-management;
}

.nav-item-02 {
	background-image: url("../img/left-nav/reporting_FFFFFF.svg");
	grid-area: reporting;
}

.nav-item-03 {
	background-image: url("../img/left-nav/marketing_FFFFFF.svg");
	grid-area: marketing;
}

.nav-item-04 {
	background-image: url("../img/left-nav/promotions_FFFFFF.svg");
	background-position: center 8px !important;
	background-size: 33px 33px !important;
	grid-area: promotions;
}

.nav-item-04.active {
	background-image: url("../img/left-nav/promotions_27292B.svg");
}

.nav-item-05 {
	background-image: url("../img/left-nav/store_FFFFFF.svg");
	grid-area: store;
}

.nav-item-06 {
	background-image: url("../img/left-nav/help_FFFFFF.svg");
	grid-area: help;
}

main {
	grid-area: main;
	overflow-y: scroll;
}

.content-wrapper {
	padding-left:24px;
	width:902px;
	-webkit-animation-name: FadeIn;
	animation: FadeIn;
	-webkit-animation-duration: 600ms;
	animation-duration: 600ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.content-wrapper h2 {
	margin: 0;
	padding: 20px 0;
	font-size: 32px;
}

@keyframes FadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes Toggler {
	0% {display: none;}
	100% {display: inline;}
}

.content-bg {
	background-color: #fff;
  margin-bottom: 12px;
  padding: 13px 12px;
  border-right: 1px solid #d7d8d8;
  border-bottom: 1px solid #d7d8d8;
}

.content-heading {
	display: flex;
	align-items: center;
}

.content-heading h2 {
	margin-left: 12px;
	flex: 1 0 auto;
}

.content-heading .add-new {
	margin-right: 12px;
	flex: 0 0 auto;
}

.status-warning {
	padding: 0 12px 12px;
}

#promotions-grid-active, #promotions-grid-inactive {
	visibility: hidden;
}

.promotions-grid {
	display: grid;
	grid-template-columns: [Name] auto [Code] 102px [Discount] 68px [Period] auto [Minimum] 72px [Status] auto [Click] 40px;
	/*grid-template-rows: 40px ;*/
	/*grid-template-rows: 55px;*/
}

#promotions-grid-inactive div, #promotions-grid-inactive div a {
	color: #9EA2A3;
}

.promotions-grid div {
	background-color: #fff;
}

.promo-heading {
	height: 40px;
	border-bottom: 1px solid #EEF0F1;
  color: #9EA2A3;
  font-size: 0.9333rem;
  display: flex;
  align-items: center;
  align-content: stretch;
}

.promo-data {
	height: 55px;
	display: flex;
	align-items: center;
	align-content: stretch;
}

.promo-heading.name, .promo-data.name {
	padding-left: 12px;
	grid-column-start: 1;
	grid-column-end: 2;
}

.promo-heading.code, .promo-data.code {
	grid-column-start: 2;
	grid-column-end: 3;
}

.promo-heading.disc, .promo-data.disc {
	grid-column-start: 3;
	grid-column-end: 4;
}

.promo-heading.period, .promo-data.period {
	grid-column-start: 4;
	grid-column-end: 5;
	justify-content: center;
}

.promo-heading.min, .promo-data.min {
	grid-column-start: 5;
	grid-column-end: 6;
}

.promo-heading.status {
	padding-right: 30px;
	grid-column-start: 6;
	grid-column-end: 8;
	justify-content: flex-end;
}

.promo-data.status {
	text-transform: capitalize;
}
#status {
	font-size: 1.8rem;
	text-transform: capitalize;
}

.promo-data img, .promo-data span img {
	margin-top: 5px;
	cursor: pointer;
}

.promo-data a {
	font-size: 1.333rem;
	text-decoration: none;
}

.promo-heading.message {
	padding-left: 12px;
	border-bottom: 0;
	height: 20px;
	grid-column-start: 1;
	grid-column-end: 8;
}

.promo-data.message {
	padding: 0 12px 18px;
	border-bottom: 1px dashed #EEF0F1;
	font-size: 18px;
	grid-column-start: 1;
	grid-column-end: 8;
}

.promo-data.message:nth-last-child(1) {
	border: 0;
}

.promo-data.message:before, .grid-data.show-quote span:before {
    content: open-quote;
}
.promo-data.message:after, .grid-data.show-quote span:after {
    content: close-quote;
}

.promo-data.disc, .promo-data.min, .promo-data.status {
	padding-right: 12px;
	justify-content: flex-end;
}

.view-title {
	margin-bottom: 13px;
	padding-bottom: 13px;
	border-bottom: 1px solid #EEF0F1;
	display: flex;
	align-items: baseline;
}

.view-title h3, .view-title .promo-code span {
	margin: 0;
	padding: 0 12px;
	color: #383A3D;
  font-family: "Gnuolane",sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
}

.view-title .promo-code {
	border-left: 1px solid #EEF0F1;
}

.view-title .promo-edit {
	padding-right: 12px;
	text-align: right;
	flex: 1 0 auto;
}

.delete-wrapper {
	text-align: right;
	grid-column-start: 3;
	grid-column-end: 5;
}

.delete-wrapper button {
	color: #fff;
}

.view-grid {
	padding: 12px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-row-gap: 4px;
}

.view-grid .grid-heading, .title-grid .grid-heading {
	color: #9EA2A3;
	font-size: 0.9333rem;
	display: flex;
	align-items: center;
	align-content: stretch;
}

.view-grid .grid-data, .title-grid .grid-data {
	padding-bottom: 18px;
	font-size: 1.8rem;
}

.view-grid input, .title-grid input {
	padding: 3px;
	font-size: 18px;
}

.view-grid select {
	width: 92%;
	font-size: 16px;
}

.grid-heading.status, .grid-data.click {
	grid-column-start: 1;
	grid-column-end: 5;
}

.grid-data.click, .grid-data.excluded {
	font-size: 18px;
	display: flex;
	align-items: center;
}

.grid-data.click label, .grid-data.excluded label {
	margin-left: 8px;
}

.grid-heading.period-title {
	grid-column-start: 1;
	grid-column-end: 3;
}

.price-title {
	grid-column-start: 3;
	grid-column-end: 5;
}

.grid-heading.applicable-stores, .grid-data.all-stores {
	grid-column-start: 1;
	grid-column-end: 5;
}

.grid-data.date-start {
	grid-column-start: 1;
	grid-column-end: 2;
}

.grid-data.date-end {
	grid-column-start: 2;
	grid-column-end: 3;
}

.grid-data.price-min {
	grid-column-start: 3;
	grid-column-end: 4;
}

.grid-data.price-max {
	grid-column-start: 4;
	grid-column-end: 5;
}

.grid-data span.store-link, a.store-link {
	margin-left: 8px;
	color: #37BAE6;
	font-size: 1rem;
	text-decoration: underline;
	cursor: pointer;
}

.grid-data.type {
	text-transform: capitalize;
}

.grid-heading.type-region, .grid-data.type-region {
	grid-column-start: 3;
	grid-column-end: 5;
}

.grid-heading.promo-message, .grid-data.promo-message {
	grid-column-start: 1;
	grid-column-end: 5;
}

.grid-data.promo-message textarea {
	width: 100%;
	height: 80px;
	border: 1px solid #ddd;
	resize: none;
	font-size: 15px;
}

.grid-heading.promo-name, .grid-data.promo-name {
	grid-column-start: 1;
	grid-column-end: 2;
}

.title-grid {
	padding: 0 12px;
	border-bottom: 1px solid #EEF0F1;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-row-gap: 4px;
}

.grid-heading.promo-code, .grid-data.promo-code {
	grid-column-start: 2;
	grid-column-end: 3;
}

.edit-form {
	font-size: 18px !important;
	text-transform: capitalize;
}

.edit-form  input {
	margin-right: 6px;
}

#all-stores-view {
	display: none;
}

#all-stores-wrapper {
	padding: 12px;
	border: 1px solid #dfdfdf;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto;
	grid-row-gap: 9px;
}

.all-stores-data {
	font-size: 18px;
	display: flex;
	align-items: center;
}

.all-stores-data span {
	margin-left: 4px;
	text-transform: capitalize;
}
